<!DOCTYPE html>
<html lang="en">
<%=render :partial => "erb/head" %>
<body>
	<!-- nav bar header -->
	<%=render :partial => "erb/header"%>
	
	<!-- SEO banner -->
	<%=render :partial => "erb/banner"%>
	<!-- pop section -->

	<!-- comics books -->
	<%=render :partial => "erb/index-bookList"%>

	<!-- novel books -->
	
	<!-- footer -->
	<!-- js script -->
	<%=render :partial => "erb/javascripts"%>
</body>
</html>